@media screen and (max-width: 1200px) {
  .profile {
    flex-direction: column;
  }
  .profile__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .profile__description {
    width: 100%;
    text-align: center;
  }
  .profile__add-button {
    margin: 0;
    width: 100%;
  }
}
@media screen and (max-width: 880px) {
  .profile {
    flex-direction: column;
  }
  .profile__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .profile__description {
    width: 100%;
    text-align: center;
  }
  .profile__add-button {
    margin: 0;
    width: 100%;
  }
}
@media screen and (max-width: 420px) {
  .profile {
    flex-direction: column;
  }
  .profile__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  .profile__description {
    width: 100%;
    text-align: center;
  }
  .profile__add-button {
    margin: 0;
    width: 100%;
  }
  .page__section {
    margin-left: 19px;
    margin-right: 19px;
  }
  .cards__list {
    max-width: 320px;
  }
}
