.modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  display: flex;
  padding: 0 19px;
  visibility: hidden;
}
.modal_opened {
  visibility: visible;
}
.modal__heading {
  margin: 36px 36px 54px 36px;
  color: #000;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}
.modal__container {
  position: relative;
  background-color: #fff;
  margin: auto;
  border-radius: 10px;
  width: 430px;
  height: 430px;
}
.modal__form-fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0 36px 0 36px;
  padding: 0;
}
.modal__form-input {
  border: none;
  height: 14px;
  padding-bottom: 13.26px;
  outline: none;
  height: 14px;
  left: 461px;
  top: 306px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.modal__form-divider {
  width: 100%;
  border-bottom: solid 1px #000;
  margin-bottom: 27px;
}

.modal__form-divider:nth-last-child {
  margin-bottom: 40px;
}
.modal__button {
  height: 50px;
  color: #fff;
  background-color: #000;
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  border-radius: 2px;
  padding: 0;
}
.modal__button:hover {
  cursor: pointer;
}
.modal__close {
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  background-image: url(../images/close-icon.svg);
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
}
.modal__close:hover {
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .modal {
    padding: 0 19px;
  }
  .modal__container {
    width: 282px;
    height: 322px;
  }
  .modal__form-fieldset {
    margin: 0 22px;
  }
  .modal__close {
    width: 26px;
    height: 26px;
    bottom: calc(100% + 25px);
    left: calc(100% - 39px);
  }
}
