.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  margin-top: 36.5px;
  border-top: 1px solid #545454;
  border-color: rgba(255, 255, 255, 0.7);
}

.profile__info {
  display: grid;
  grid-template-areas: "title button" "description description";
  grid-template-columns: minmax(auto, 373px) auto;
}
.profile__edit-button {
  background: transparent url(../images/edit-icon.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  box-sizing: border-box;
  border: 1px solid #ffffff;
  align-self: center;
  margin-left: 18px;
}
.profile__edit-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.profile__add-button {
  background: transparent url(../images/add-button.svg) center no-repeat;
  height: 50px;
  width: 150px;
  margin-left: auto;
  box-sizing: border-box;
  border: 2px solid #ffffff;
  border-radius: 2px;
}
.profile__add-button:hover {
  cursor: pointer;
  opacity: 0.6;
}
.profile__title {
  display: flex;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  grid-area: title;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.profile__description {
  font-family: "Inter", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  grid-area: description;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 60%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
  margin-left: 24px;
}

@media screen and (min-width: 320px) and (max-width: 760px) {
  .profile {
    flex-direction: column;
    padding: 0 0 36px 0;
    width: 168.75px;
    height: 127.5px;
    margin-right: 72.75px;
  }
  .profile__description {
    width: 282px;
    grid-template-columns: 1fr 1fr 1fr 55px;
    grid-template-rows: auto;
    grid-template-areas:
      "image image image image"
      "title title title title"
      "subtitle subtitle subtitle subtitle"
      "add add add add";
    justify-self: center;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  .profile__image {
    justify-self: center;
    width: 127.5px;
    height: 127.5px;
  }
  .profile__title {
    margin: auto;
    flex-direction: column;
    font-size: 22px;
    padding-top: 26.25px;
    width: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .profile__edit-button {
    justify-self: center;
    margin-top: 24px;
    width: 18px;
    height: 18px;
    padding: 0;
    margin-left: 0;
  }
  .profile__add-button {
    position: absolute;
    width: 282px;
    height: 50px;
    margin-left: 19px;
    box-sizing: border-box;
    border: 2px solid #ffffff;
    border-radius: 2px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1275px) {
  .profile {
    padding: 40px 0 51px 0;
    width: 880px;
    margin-left: 19px;
    margin-right: 19px;
  }
}
